.header
{
display: flex;
justify-content: space-around;
align-items: center;
background-color: gray;
color: black;
margin-top: -10px;
margin-left: -10px;
margin-right: -10px;
}
a{
    text-decoration: none;
    color: white;
}

.main
{
    display: flex;
background-color: rgb(6, 100, 6);
color: black;
height: 450px;
width: 1370px;
margin-left: -10px;

}

.main2
{
    display: flex;
    justify-content: space-around;
   
}

.footer
{
    display: flex;
    justify-content: space-around;
    background-color: gray;
    color: rgb(6, 100, 6);
}
a{
    text-decoration: none;
    color: white;
}

  

